body, html {

    // 一些arco弹窗会改变body宽度为窗口宽度，这在iframe页面中会导致页面变形
    width: 100% !important;

    --color-bg-2: #fcfcfc;

    background-color: var(--color-neutral-2);

    --border-radius-medium: 0 !important;
    --border-radius-small: 0 !important;

    --w-e-toolbar-border-color: var(--color-neutral-3);

    // 添加滚动条样式
    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
        background-color: var(--color-neutral-1);
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--color-neutral-4);
        // border-radius: 4px;
        transition: background-color 0.3s ease;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: var(--color-neutral-3);
    }

    .w-e-full-screen-container  {
        z-index: 1;
    }

    &[arco-theme='dark'] {
        color: var(--color-text-1);

        background-color: var(--color-bg-1);

        --w-e-toolbar-bg-color: var(--color-bg-2);
        --w-e-textarea-bg-color: var(--color-bg-2);
        --w-e-toolbar-active-bg-color: var(--color-neutral-4);
        --w-e-toolbar-color: var(--color-text-1);
        --w-e-textarea-color: var(--color-text-1);
        --w-e-toolbar-active-color: var(--color-text-1);
        --w-e-modal-button-bg-color: var(--color-neutral-4);
    }
}

.page-content {
    background-color: var(--color-bg-2);
}

.arco-scrollbar-track-direction-vertical {
    width: 2px !important;

    .arco-scrollbar-thumb-bar {
        width: 2px !important;
        margin: 0 !important;
        border-radius: 0;
    }
}

.arco-scrollbar-track-direction-horizontal {
    height: 2px !important;

    .arco-scrollbar-thumb-bar {
        height: 2px !important;
        margin: 0 !important;
        border-radius: 0;
    }
}

.arco-list-virtual {
    &::-webkit-scrollbar {
        width: 3px;
        background-color: unset;
        border-radius: 0;

        &-thumb {
            background-color: var(--color-neutral-4);
            border-radius: 0;
        }
    }
}