body, html {

    background-color: var(--color-neutral-2);

    --border-radius-medium: 0 !important;
    --border-radius-small: 0 !important;

    --w-e-toolbar-border-color: var(--color-neutral-3);

    &[arco-theme='dark'] {

        background-color: var(--color-bg-1);

        --w-e-toolbar-bg-color: var(--color-bg-2);
        --w-e-textarea-bg-color: var(--color-bg-2);
        --w-e-toolbar-active-bg-color: var(--color-neutral-4);
        --w-e-toolbar-color: var(--color-text-1);
        --w-e-textarea-color: var(--color-text-1);
        --w-e-toolbar-active-color: var(--color-text-1);
    }
}