body, html {

    background-color: var(--color-neutral-2);

    --border-radius-medium: 0 !important;
    --border-radius-small: 0 !important;

    --w-e-toolbar-border-color: var(--color-neutral-3);

    &[arco-theme='dark'] {

        background-color: var(--color-bg-1);

        --w-e-toolbar-bg-color: var(--color-bg-2);
        --w-e-textarea-bg-color: var(--color-bg-2);
        --w-e-toolbar-active-bg-color: var(--color-neutral-4);
        --w-e-toolbar-color: var(--color-text-1);
        --w-e-textarea-color: var(--color-text-1);
        --w-e-toolbar-active-color: var(--color-text-1);

        --edui-bg-toolbar: var(--color-bg-2);
        --edui-color-border: var(--color-neutral-3);

        .edui-default {

            .edui-editor {
                border-radius: 0;
            }

            .edui-shortcutmenu {
                background-color: var(--color-neutral-4);
                color: var(--color-text-1);
            }
            
            .edui-editor, .edui-toolbar .edui-combox .edui-combox-body, .edui-popup-content {
                background-color: var(--color-bg-2);
            }

            .edui-toolbar .edui-combox .edui-combox-body {
                border-color: var(--color-neutral-3);
                border-radius: 0 !important;
            }

            .edui-toolbar .edui-button .edui-button-wrap, .edui-toolbar .edui-menubutton .edui-menubutton-body {
                border-radius: 0 !important;
            }

            .edui-toolbar .edui-button .edui-state-checked .edui-button-wrap,
            .edui-list .edui-state-hover,
            .edui-toolbar .edui-button .edui-state-hover .edui-button-wrap,
            .edui-toolbar .edui-splitbutton .edui-state-hover .edui-splitbutton-body,
            .edui-toolbar .edui-menubutton .edui-state-hover .edui-menubutton-body,
            .edui-toolbar .edui-menubutton .edui-state-opened .edui-menubutton-body,
            .edui-toolbar .edui-menubutton .edui-state-checked .edui-menubutton-body {
                background-color: var(--color-neutral-4);
            }

            .edui-popup-content {
                color: var(--color-text-1);
            }
        }
    }
}